
.DropDown{
  color: white;
  background:black;
  box-shadow: 0.3px 0.5px 5px 1px black;
  opacity:0.9;
  position: fixed;
  width: 22%;
  top: 64px;
  padding:15px;
  margin: -10px;
  display: flex;
  z-index:200;
  border-radius: 3px;
    transition-delay: 100ms;
}

input[type=text] {
  border-bottom:solid 1px white;
}
